.contact-content {
    padding-top: 50px;
}

.contact-content .title {
    padding-left: 50px;
}

.contact-content .title .line-bar {
    margin-bottom: 15px;
    line-height: .1;
}

.contact-content .title .line-bar::before {
    content: "";
    border-bottom: 7px solid #2aaae1;
    max-width: 85px;
    display: block;
}

.contact-content .title h2 {
    font-family: montserratlight;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 1.1em;
    color: #585858;
    text-align: left;
}

.contact-content .detail {
    display: inline-block;
    width: 70%;
}

.contact-content .detail ul {
    list-style: none;
    font-family: monterratregular;
    font-size: 30px;
}

.contact-content .detail ul li {
    display: inline-block;
    width: 50%;
    padding: 25px;
}

.contact-content .detail ul li i {
    display: block;
    font-size: 50px;
    color: #2aaae1;
}