.skills-content {
    padding-top: 50px;
}

.skills-content .title {
    padding-left: 50px;
}

.skills-content .title .line-bar {
    margin-bottom: 15px;
    line-height: .1;
}

.skills-content .title .line-bar::before {
    content: "";
    border-bottom: 7px solid #2aaae1;
    max-width: 85px;
    display: block;
}

.skills-content .title h2 {
    font-family: montserratlight;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 1.1em;
    color: #585858;
    text-align: left;
}

.skills-content .detail {
    display: inline-block;
    width: 85%;
}

.skills-content .detail .left {
    display: inline-block;
    width: 15%;
}

.skills-content .detail .right {
    display: inline-block;
    width: 65%;
    text-align: left;
    margin-left:20px;
    margin-bottom: 10px;
}

.skills-content .detail .right span{
    display: inline-block;
    width: 24%;
    font-family: monterratregular;
    font-size: 20px;
}

.skills-content .detail .item {
    padding: 10px 0;
}

.skills-content .detail .item .item-left {
    display: inline-block;
    width: 15%;
    font-family: monterratregular;
    font-size: 20px;
    font-weight: bold
}

.skills-content .detail .item .item-right {
    display: inline-block;
    width: 65%;
    margin-left:20px;
}

.skills-content .detail .item .item-right .level {
    height: 20px;
    background: #2aaae1;
}

