.sec-header {
    background-image: url('../image/bg2.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

.sec-header .avatar {
    text-align: center;
    padding-top: 20px;
}
.sec-header .avatar img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.sec-header .name {
    color: #696967;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: Monterrat-Light;
}

.sec-header .description {
    color: #696967;
    font-size: 25px;
    font-family: Monterrat-Light;
}