.nav-bar {
    position: absolute;
    top: -29px;
    left: 0;
    list-style: none;
    padding-left: 0;
}

.nav-bar li {
    background: #ffffff;
    display: inline;
    margin-right: 6px;
    padding: 10px 15px 7px 15px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd; 
}

.nav-bar li i {
    margin-right: 7px; 
}