.projects-content {
    padding-top: 50px;
}

.projects-content .title {
    padding-left: 50px;
}

.projects-content .title .line-bar {
    margin-bottom: 15px;
    line-height: .1;
}

.projects-content .title .line-bar::before {
    content: "";
    border-bottom: 7px solid #2aaae1;
    max-width: 85px;
    display: block;
}

.projects-content .title h2 {
    font-family: montserratlight;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 1.1em;
    color: #585858;
    text-align: left;
}

.projects-content .detail {
    display: inline-block;
    width: 70%;
}

.projects-content .detail .item .project-name {
    font-size: 30px;
    font-family: monterratregular;
    text-align: left;
}

.projects-content .detail .item .project-name i {
    font-size: 30px;
    color: #2aaae1;
    margin-right: 10px;
    font-weight: bold;
}

.projects-content .detail .item .project-detail {
    padding-left:40px;
    text-align: left;
    font-size: 20px;
    font-family: monterratregular;
}
.projects-content .detail .item .project-detail span {
    display: block;
    margin: 10px 0;
}