.target-content {
    padding-top: 50px;
}

.target-content .title {
    padding-left: 50px;
}

.target-content .title .line-bar {
    margin-bottom: 15px;
    line-height: .1;
}

.target-content .title .line-bar::before {
    content: "";
    border-bottom: 7px solid #2aaae1;
    max-width: 85px;
    display: block;
}

.target-content .title h2 {
    font-family: montserratlight;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 1.1em;
    color: #585858;
    text-align: left;
}

.target-content .detail {
    display: inline-block;
    width: 65%;
}

.target-content .detail .item {
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

.target-content .detail .item i {
   margin-right: 5px;
   font-size: 25px;
   color: #2aaae1; 
}
